# macOS
.DS_Store

# VS Code
.vscode/

# Build files
build/
bin/
obj/

# C/C++ compiled files
*.o
*.out
*.exe
*.dSYM/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Temporary files
*.tmp
*.temp

# Editor files
*.swp
*.swo

# Programs
01_Fullname
02_Greeting
03_Word_Length